* {padding: 0; margin: 0;}

header {
    background-color: #1F2937;
}

.flexDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: .45rem;
    margin: 10px;
}

.navBar {
    display: flex;
    list-style: none;
}

.navBar .navItem a{
    display: block;
    padding: 1em;
   font-size: 18px;
   text-decoration: none;
   color: #E5E7EB;
}

.navBar .navItem a:hover {
    text-decoration: line-through 5px pink;
}

.flexDiv2 {
    display: flex;
    width: 600px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 50px;
}

.fontDiv {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
}

h2 {
    color: white;
    font-size: 60px;
    padding: 0;
}

.flexDiv2 p {
    color:lightgrey;
    font-size: 18px;
    width: 500px;
}

.imgFlex {
    display: flex;
}
.imgDiv {
    background-color: grey;
    height: 230px;
    width: 500px;
    margin-top: 7%;
    margin-left: 10px;

}

.imgDiv h3{
    text-align: center;
    font-size: 18px;
    margin-top: 20%;
}

.headerBtn {
    background-color:#3882f6;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    color:white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerBtn:hover {
    background-color: white;
    color:#3882f6
}

.infoDivFlex {
    display: flex;
    justify-content: center;
}
.infoContainer {
    width: 120px;
    margin: 30px;
}

.infoContainer p {
    font-size: 12px;
}

.infoBox {
    border: 2px solid #3882f6;
    width: 120px;
    height:120px;
    border-radius: 5px;
}


.randomText {
    text-align: center;
    font-size: 30px;
    letter-spacing: .1rem;
    margin-top: 10px;
}

.quoteDiv {
    height: 200px; 
    width: auto;
    padding: 5%;
    background-color: #E5E7EB;
}
.quote {
    text-align: center;
    margin: auto;
    width: 600px;
    font-style: italic;
    font-size: 35px;
    color: #1F2937;
}